[Unit]
Description=Galera Arbitrator(garbd) Daemon
Documentation=https://galeracluster.com/library/documentation/arbitrator.html

[Service]
ExecStart=/usr/sbin/garbd-wrapper

[Install]
WantedBy=multi-user.target
